html{
    font-size: 62.5%; /*16px times 62.5 = 10 px = 1 rem*/
    box-sizing: border-box;
}
body{
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0;
    background-color: pink;
}
.grid-container{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
.header{
    grid-area: header;
    background-color: lightsteelblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.brand a{
    color: palegoldenrod;
    font-size: 2.5rem;
    font-weight: bold;
}
.header-links a{
    color: white;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    background-color:lightsteelblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*COMMON*/
a{
    text-decoration: none;
}
a:hover{
    color: mediumorchid;
}

/* HOME SCREEN */
.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.products li{
    list-style-type: none;
    padding: 0;
    flex: 0 1 34rem;
    margin: 1rem;
    height: 50rem;
    border-bottom: .1rem black solid;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.product-name{
    font-size: 2rem;
    font-weight: bold;
}
.product-brand{
    font-size: 1.2rem;
}
.product-price{
    font-size: 2rem;
    font-weight: bold;
}
.product-image{
    max-width: 34rem;
    max-height: 34rem;
}

/* SIDE BAR */
.brand button{
    font-size: 3rem;
    padding: 0.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.sidebar{
    position: fixed;
    transform: translateX(-30rem);
    width: 30rem;
    background-color: darkolivegreen;
    height: 100%;
}
.sidebar.open{
    transform: translateX(0);
}
.sidebar-close-button{
    
}